/* Common styles */
.mer-48 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.Inter-24 {
    font-family: Inter;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.Inter-20 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* header styles */
header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-size: 1320px 600px;
    background-repeat: no-repeat;
    margin: 50px 140px 0px 140px;
    border: 1px solid black;
    width: 1320px;
    height: 600px;
    border-radius: 1%;
}

.banner {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding: 177px 530px 0px 530px;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    padding: 0px 344px 177px 344px;
}

/* main part style */



#off {
    text-align: center;
    font-family: Inter;
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}


#catagories {
    text-align: center;
    font-family: Inter;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 100px;
}

#image {
    width: 802.9px;
    height: 500px;
    margin-left: 440px;
}

.last-sec {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-size: 1320px 600px;
    background-repeat: no-repeat;
    margin: 120px 140px 0px 140px;
    border: 1px solid black;
    width: 1320px;
    height: 600px;
    border-radius: 1%;
}

.container {
    padding: 50px 200px 200px 50px;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.twenty {
    width: 319.83px;
    height: 464.662px;
    padding-right: 138px;
    padding-top: 68px;
}

.welcome-msg {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.join-btn {
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.join-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.event-details {
    margin: 120px 140px;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}

.event-time span:not(.join-text) {
    color: #F00;
}

.newoffer {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
}

.circle-png {
    border: 15px solid red;
    height: 460px;
    border-radius: 50%;
    width: 460px;
    padding: 40px;
}

.sale {
    text-align: center;
    margin-top: 140px;
    margin-left: 80px;
}

.holiday-sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}